<h4>Quote Queue</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Client</th>
                <th>Opporunity</th>
                <th>Service(s)</th>
                <th>TCV</th>
                <th>Margin</th>
                <th>Status</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                <td>Ditech</td>
                <td>SailPoint</td>
                <td>Access Governance</td>
                <td>$380,000</td>
                <td><span data-peity='{ "fill": ["#065a82", "#eeeeee"] }' class="pie">4/10</span>40%</td>
                <td class="text-danger">Lost</td>
                <td>
                    <% d = DateTime.new(2016,10,19,8,37,48,"-06:00") %>
                    <%= d.strftime("%m/%d/%Y") %>
                </td>
            </tr>
             <tr>
                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                <td>Crawford</td>
                <td>RSA Migration and Upgrade</td>
                <td>Advisory Services</td>
                <td>$69,000</td>
                <td><span data-peity='{ "fill": ["#065a82", "#eeeeee"] }' class="pie">44/100</span>44%</td>
                <td class="text-success">In Review</td>
                <td>
                    <% d = DateTime.new(2016,11,15,8,37,48,"-06:00") %>
                    <%= d.strftime("%m/%d/%Y") %>
                </td>
            </tr>
             <tr>
                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                <td>Bright Horizons</td>
                <td>CR 2</td>
                <td>Access Governance</td>
                <td>$20,000</td>
                <td><span data-peity='{ "fill": ["#065a82", "#eeeeee"] }' class="pie">4/10</span>40%</td>
                <td>Draft</td>
                <td>
                    <% d = DateTime.new(2016,11,22,8,37,48,"-06:00") %>
                    <%= d.strftime("%m/%d/%Y") %>
                </td>
            </tr>
             <tr>
                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                <td>Scottrade</td>
                <td>Advisory Services</td>
                <td>Access Governance</td>
                <td>$145,000</td>
                <td><span data-peity='{ "fill": ["#065a82", "#eeeeee"] }' class="pie">4/10</span>40%</td>
                <td class="text-danger">Lost</td>
                <td>
                    <% d = DateTime.new(2016,9,19,8,37,48,"-06:00") %>
                    <%= d.strftime("%m/%d/%Y") %>
                </td>
            </tr>
        </tbody>
    </table>
</div>