<div class="row">
    <div class="col-md-12 text-left">
        <h4 class="tabheader">Access Requests</h4>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="col-md-6 control-label">Access Request Design</label>
            <div class="col-md-6">
                <select data-placeholder="Choose AR Complexity" class="chosen-select" tabindex="2" name="idmobj[arcomplex]" required data-error="AR Design field is required">
                    <option value="none">None</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="complex">Complex</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-6 control-label">Access Request Forms</label>
            <div class="col-md-6">
                <input type="text" class="form-control text-right" name="idmobj[arforms]" value="6">
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="col-md-6 control-label">Access Request Approval Workflows</label>
            <div class="col-md-6">
                <input type="text" class="form-control text-right" name="idmobj[arwf]" value="2">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-6 control-label">Access Request Fulfillments</label>
            <div class="col-md-6">
                <input type="text" class="form-control text-right" name="idmobj[arfulfill]" value="2">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-6 control-label">Access Request Escalation Flows</label>
            <div class="col-md-6">
                <input type="text" class="form-control text-right" name="idmobj[arescflow]" value="2">
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div> 
</div>