
        <div class="ibox float-e-margins">
            <!--div class="ibox-title">
                <h5>Project Overview</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <!--a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div -->
            <div class="ibox-content">
                <div class="row">
                    <div class="form-group col-md-12 pull-left">
                        <label class="col-md-2 control-label">Architect</label>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[archlevel]" required data-error="Vendor is required">
                                <option value="srconsultant">Sr. Consultant</option>
                                <option value="manager" selected>Manager</option>
                                <option value="director">Director</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[archloc]" required data-error="Vendor is required">
                                <option value="india">India</option>
                                <option value="us" selected>U.S.</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Project Manager</label>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmlevel]" required data-error="Vendor is required">
                                <option value="srconsultant">Sr. Consultant</option>
                                <option value="manager" selected>Manager</option>
                                <option value="director">Director</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmloc]" required data-error="Vendor is required">
                                <option value="india">India</option>
                                <option value="us" selected>U.S.</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Business Analyst</label>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmlevel]" required data-error="Vendor is required">
                                <option value="consultant">Consultant</option>
                                <option value="srconsultant">Sr. Consultant</option>
                                <option value="manager" selected>Manager</option>
                                <option value="director">Director</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmloc]" required data-error="Vendor is required">
                                <option value="india">India</option>
                                <option value="us" selected>U.S.</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Consultant 1</label>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmlevel]" required data-error="Vendor is required">
                                <option value="consultant">Consultant</option> 
                                <option value="srconsultant">Sr. Consultant</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmloc]" required data-error="Vendor is required">
                                <option value="india" selected>India</option>
                                <option value="us">U.S.</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-3">
                                <input class="spincalloc" type="text" value="100" name="basic[expense]" style="text-align:center;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Consultant 2</label>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmlevel]" required data-error="Vendor is required">
                                <option value="consultant">Consultant</option> 
                                <option value="srconsultant">Sr. Consultant</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmloc]" required data-error="Vendor is required">
                                <option value="india" selected>India</option>
                                <option value="us">U.S.</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-3">
                                <input class="spincalloc" type="text" value="0" name="basic[expense]" style="text-align:center;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Consultant 3</label>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmlevel]" required data-error="Vendor is required">
                                <option value="consultant">Consultant</option> 
                                <option value="srconsultant">Sr. Consultant</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmloc]" required data-error="Vendor is required">
                                <option value="india" selected>India</option>
                                <option value="us">U.S.</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-3">
                                <input class="spincalloc" type="text" value="0" name="basic[expense]" style="text-align:center;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Consultant 4</label>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmlevel]" required data-error="Vendor is required">
                                <option value="consultant">Consultant</option> 
                                <option value="srconsultant">Sr. Consultant</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-2">
                            <select data-placeholder="Choose a Vendor" class="chosen-select" tabindex="2" name="staff[pmloc]" required data-error="Vendor is required">
                                <option value="india" selected>India</option>
                                <option value="us">U.S.</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-3">
                                <input class="spincalloc" type="text" value="0" name="basic[expense]" style="text-align:center;">
                        </div>
                    </div>
                </div>
                <!--div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label">Pricing Model</label>
                        <div class="col-md-8">
                            <div class="radio radio-info radio-inline">
                                <input id="rdtim" type="radio" value="timemat" name="basic[pricing]" checked="checked">
                                <label for="pricing">Time and Materials</label>
                            </div>
                            <div class="radio radio-inline">
                                <input id="rdfixed" type="radio" value="fixed" name="basic[pricing]" >
                                <label for="pricing">Fixed Price</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label">Total Identities</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control text-right" name="basic[numidentities]" value=1 required data-error="Number of Identities is required">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label">Number Authoritative Sources</label>
                        <div class="col-md-8">
                            <input class="spinuserpop" type="text" value="1" name="basic[authsource]" style="text-align:center;" required data-error="Authoritative Sources is required">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="quickgroup">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label">Expenses</label>
                            <div class="col-md-8">
                                <input class="spinexpense" type="text" value="15" name="basic[expense]" style="text-align:center;">
                            </div>
                        </div>
                        <!--div class="form-group col-md-6">
                            <div id="fxcontin" style="display:none;">
                                <label class="col-md-4 control-label">Fixed Contingency</label>
                                <div class="col-md-8">
                                    <input id="fixedcon" class="spincontin" type="text" value="0" name="basic[fixedcon]" style="text-align:center;">
                                </div>
                            </div> 
                        </div>     
                        <!--div class="form-group col-md-6">
                            <label class="col-md-4 control-label">Kickoff Prep/Meeting</label>
                            <div class="col-md-8">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="kickoff" name="basic[kickoff]">
                                        <label class="onoffswitch-label" for="kickoff">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label class="col-md-4 control-label">Discount</label>
                                <div class="col-md-8">
                                    <input id="discount" class="spin5" type="text" value="0" name="basic[discount]" style="text-align:center;">
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="ibox float-e-margins" style="display:none;">
                        <div class="ibox-title" style="background-color:#f3f3f4;padding-left:0px; padding-right:0px;">
                            <h5>Rates</h5>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up pull-right"></i>
                                </a>
                                <div class="ibox-content" style="border:none; padding-left:0px; padding-right:0px; display:none;">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="col-md-4 control-label">Project Manager</label>
                                            <div class="col-md-8">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" value="260" class="form-control text-right" name="basic[pmrate]" required>
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-md-4 control-label">Business Analyst</label>
                                            <div class="col-md-8">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" value="240" class="form-control text-right" name="basic[barate]" required>
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="col-md-4 control-label">Architect</label>
                                            <div class="col-md-8">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" value="240" class="form-control text-right" name="basic[archrate]" required>
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-md-4 control-label">Onshore Consultant</label>
                                            <div class="col-md-8">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" value="210" class="form-control text-right" name="basic[onconrate]" required>
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="col-md-4 control-label">Offshore Consultant</label>
                                            <div class="col-md-8">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" value="90" class="form-control text-right" name="basic[offconrate]" required>
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div> 
                </div--> 
            </div> <!-- row -->
        </div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

});

</script>
<% end %>


