<div class="footer">
    <div class="pull-right">
        Version 0.5 Alpha - 10/21/2016
    </div>
    <div>
        <strong>Copyright</strong> Simeio Solutions &copy; 2016
    </div>
</div>
