<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <a id="logo" href="#" class="navbar-left col-md-2"> <%= image_tag "logo_simeio.png" %></a>
        <h2 class="text-center col-md-8" style="margin-top:10px;">QuoteTastic</h2>
        <div class="col-md-2 pull-right" style="margin-top:15px;text-align:right;">
            <i class="fa fa-sign-out"></i> Log out
        </div>
    </nav>
</div>